---
import Layout from '@/layouts/Layout.astro';
import ContactForm from '@/components/ContactForm.astro';
---

<Layout title="new contact">
  <h1>New contact</h1>
  <ContactForm action="/api/add" method="POST" />
</Layout>
