---
import { type Contact } from '@/data/contacts';
interface Props {
  action: string;
  contact?: Contact;
  method?: string;
}
const { action, contact, method } = Astro.props;
const regex = /\/edit$/;
const isEdit = regex.test(Astro.url.pathname);
// console.log(isEdit);
// console.log(contact);
---

<form id="contactForm" action={action} method={method}>
  <label for="first">
    FirstName
    <input
      type="text"
      id="first"
      name="first"
      required
      value={isEdit ? contact?.first : ''}
      autofocus
    />
  </label>
  <label for="last">
    LastName
    <input
      type="text"
      id="last"
      name="last"
      required
      value={isEdit ? contact?.last : ''}
    />
  </label>
  <label for="phone">
    Phone
    <input
      type="text"
      id="phone"
      name="phone"
      required
      value={isEdit ? contact?.phone : ''}
    />
  </label>

  <label for="email">
    Email
    <input
      type="text"
      id="email"
      name="email"
      required
      value={isEdit ? contact?.email : ''}
    />
  </label>

  <p class="error">Invalid email</p>

  <div class="actions">
    <a href="/contacts">&larr; Back</a>
    {
      contact && contact.id && (
        <button
          type="button"
          style="background-color:orangered;cursor:pointer;"
          hx-confirm="Are you sure to delete this contact?"
          hx-delete={`/api/${contact?.id}/delete`}
          hx-swap="none"
        >
          Delete
        </button>
      )
    }
    {
      contact ? (
        <button hx-put={`/api/${contact.id}/update`}>Save</button>
      ) : (
        <button>Save</button>
      )
    }
  </div>
</form>

<script>
  const form = document.getElementById('contactForm') as HTMLFormElement;
  const email = document.getElementById('email') as HTMLInputElement;
  const error = document.querySelector('.error') as HTMLParagraphElement;

  function checkEmail(e: Event) {
    console.log('ciao email');
    if (!email.value.includes('@')) {
      error.classList.add('show');
      email?.addEventListener('input', () => {
        if (email.value.includes('@')) {
          error.classList.remove('show');
        } else {
          error.classList.add('show');
        }
      });
    }
  }

  form?.addEventListener('submit', checkEmail);
</script>
