---
import HeaderLink from '@/components/HeaderLink.astro';
import '@/styles/global.css';

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script src="@/lib/htmx.min.js"></script>
  </head>
  <body hx-boost="true">
    <main>
      <slot />
    </main>
    <footer>
      <p>Simple testing app made with astro and a bit of htmx</p>
      <p>
        It acts as a Single Page Application but no Javascript was used on
        client side.
      </p>
      <p>All CRUD operations was implemented</p>
    </footer>
  </body>
</html>

<style>
  header {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px 0;
  }
</style>
